body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 610px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
}
div {
    text-align: center;
}
div.code {
    font-family: Consolas,"courier new";
    background-color: #e0e3e8;
    padding: 12px;
    font-size: 105%;
    text-align: left;
}
span.code {
    font-family: Consolas,"courier new";
    background-color: #e0e3e8;
    font-size: 105%;
    text-align: left;
}
div ol li, p {
    text-align: center;
}
div ul li, p {
    text-align: center;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
footer a {
    text-decoration: none;
    color: white;
}
footer p {
    text-align: center;
}